{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block css %}<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css')}}">{% endblock %}
{% block content %}
    <div class="container">
        <div class="context">
            <form method="POST">
                <input type="text" name="nickname" placeholder="Nickname" required>
                <br>
                <input type="password" name="password" minlength="8" placeholder="Password" required>
                <br>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}